---
subcategory: ""
page_title: "Provision Kurrent Cloud resources in AWS"
description: |-
    A sample Terraform project to provision all the Kurrent Cloud resources in AWS.
---

# Kurrent Cloud in AWS

The sample project creates the following resources in Kurrent Cloud:
- Project
- Network
- Network peering
- Managed KurrentDB using single F1 node with 16GB disk

From the AWS side, you still need to accept the peering request and configure the route as described in the [documentation](https://docs.kurrent.io/cloud/getting-started/private-access/aws.html#network-peering).
This step can be also automated using the AWS Terraform provider.

{{ tffile "examples/aws/main.tf" }}
