---
subcategory: ""
page_title: "Provision Kurrent Cloud resources in GCP"
description: |-
  A sample Terraform project to provision all the Kurrent Cloud resources in Google Cloud.
---

# Kurrent Cloud in GCP

The sample project creates the following resources in Kurrent Cloud:
- Project
- Network
- Network peering
- Managed KurrentDB using single F1 node with 16GB disk

From the GCP side, you still need to create an incoming peering from your GCP account towards the Kurrent Cloud VPC as described in the [documentation](https://developers.eventstore.com/cloud/provision/gcp/#network-peering).
This step can be also automated using the GCP Terraform provider.

{{ tffile "examples/gcp/main.tf" }}
